<br>
<form #form="ngForm">
  <mat-card>
    <mat-form-field>
      <label>
        <input matInput name="email" placeholder="Email" [(ngModel)]="email" required>
      </label>
    </mat-form-field>    

    <mat-form-field>
      <label>
        <input matInput  type="password" name="password" placeholder="Password" [(ngModel)]="password" required>
      </label>
    </mat-form-field> 

  </mat-card>
  <mat-card class="error-box" *ngIf="errors.length">{{ errors.join(' ') }}</mat-card>
  <button mat-raised-button (click)="onClickHandler()" color="primary" [disabled]="form.invalid">Submit</button>
</form>
   
